<!doctype html> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <head> 
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                        <ul class="navbar-nav">
                          <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                          </li>
                         
                          
                          <li class="nav-item">
                            <a class="nav-link" href="/statistics">Statistics</a>
                          </li>
                          
                        </ul>
                      </nav>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
                <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 

                <title>
                    Statistics
                </title> 
                <link rel="icon" href="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiQiIGShLzkAhXDfH0KHeuADtEQjRx6BAgBEAQ&url=%2Furl%3Fsa%3Di%26rct%3Dj%26q%3D%26esrc%3Ds%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fwww.redditinc.com%252Fbrand%26psig%3DAOvVaw3fp6nPl8xHqO_nMUip7QCT%26ust%3D1567853255993958&psig=AOvVaw3fp6nPl8xHqO_nMUip7QCT&ust=1567853255993958" type="image/png">


                <img src="static\img2.png" class="rounded float-left" alt="..." width="750" height="700">
                <img src="static\img3.png" class="rounded float-right" alt="..." width="750" height="700">
                <img src="static\img4.png" class="rounded float-right" alt="..." width="750" height="700">
                <img src="static\img1.png" class="rounded float-right" alt="..." width="750" height="700">
        </head> 
</html>       